@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --white: #fff;
  --red: #f42;
  --black: #000;
  --yellow: #fd3;
  --green: #0cc;
  --purple: #800080;
  --grey: #ddd;
  --footer-grey: #555;
  --blue: #146ff8;
  --dark-grey: #aaa;
  --dark-pink: #ffebe8;
  --light-pink: #faffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 1.4em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  margin-bottom: 1.1rem;
}

i {
  padding: 0.8em;
}

.red-text {
  color: var(--red);
  cursor: pointer;
}

.red-text:hover {
  color: var(--black);
}

.bg-image-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex-container {
  display: flex;
}

.margin-center {
  width: 100%;
  padding: 6rem 1rem 1rem 1rem;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.grid-container {
  display: grid;
}

.position-fixed {
  position: fixed;
}

.funder i {
  padding: 0 1rem;
}

.nav-icons i {
  border-left: 1px solid var(--grey);
}

.funder-icon i {
  padding: 0.5rem 0;
}

.nav-icons i:first-child {
  color: var(--grey);
}

.nav-icons i:last-child {
  color: var(--red);
}

header {
  position: fixed;
  width: 100%;
}

header div:first-child {
  background-color: var(--white);
}

.header-ad {
  font-size: 0.8rem;
  padding: 0.75rem 1.2rem;
  background-color: var(--yellow);
}

main {
  position: relative;
  top: 16vh;
  z-index: -1;
}

.main-section {
  grid-template: 1fr;
  grid-gap: 0.8rem;
  width: 98%;
  margin: 0 auto;
}

.main-article {
  padding: 7.5em 1em 0.4em 1em;
  color: var(--white);
  cursor: pointer;
}

.main-article:first-child {
  padding: 3em 1.2em 0 1.2em;
  background-image:
    linear-gradient(
      to bottom,
      rgba(231, 226, 226, 0.5),
      rgba(0, 0, 0, 0.95)
    ),
    url("https://source.unsplash.com/random/210");
}

.main-article:nth-child(2) {
  background-image: url("https://source.unsplash.com/random/200");
}

.main-article:last-child {
  background-image:
    linear-gradient(
      to bottom,
      rgba(231, 226, 226, 0.5),
      rgba(0, 0, 0, 0.95)
    ),
    url("https://source.unsplash.com/random/210");
}

.main-article > p {
  font-weight: bold;
}

.main-article h3 {
  font-weight: lighter;
  font-size: 0.8em;
}

.main-section-interactions * {
  color: var(--grey);
}

.main-section-interactions p {
  font-size: 0.7em;
}

.latest-news-section {
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

.latest-news img {
  float: left;
  margin-right: 1rem;
}

.latest-news div h3 {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0 1rem 0.3rem 0;
  cursor: pointer;
}

.latest-news div h3:hover {
  color: var(--red);
  text-decoration: underline;
}

.funding-section li a {
  font-size: 0.85rem;
  margin-bottom: 0.8rem;
}

.funder p {
  font-size: 0.75rem;
}

.funder > p {
  font-size: 0.7rem;
}

.funder > p a {
  color: var(--grey);
}

.funder > p,
.funder-icon {
  padding: 0.7rem 1.3rem;
}

.latest-news div p,
.latest-news div p a {
  color: var(--dark-grey);
  font-size: 0.9rem;
}

.funding-section {
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
}

.funder {
  position: relative;
}

.funder img {
  position: absolute;
  width: 60px;
  left: 0.8rem;
  top: 1rem;
}

.funder h4 {
  padding: 0.9rem 0 0.9rem 5rem;
  background-color: var(--red);
  color: var(--white);
}

.funding-amount {
  padding: 0.7rem 0 0 5rem;
  background-color: var(--dark-pink);
}

.funding-amount p:first-child {
  font-weight: bold;
}

.funder-icon {
  background: var(--light-pink);
  border-bottom: 1px solid var(--dark-pink);
}

.bottom-articles-section {
  padding: 2em 1rem 1rem 1rem;
}

.most-popular {
  background-image:
    linear-gradient(
      to bottom,
      rgba(231, 226, 226, 0.5),
      rgba(0, 0, 0, 0.95)
    ),
    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/header-image-macos-big-sur-368x276.png");
  width: 100%;
  padding: 15rem 1rem 1rem 1rem;
  color: var(--white);
}

.most-popular > p:first-child {
  text-transform: uppercase;
}

.most-popular small,
.most-popular small * {
  font-size: 0.7rem;
  color: var(--dark-grey);
}

.sub-article {
  position: relative;
  background-color: #fff4f2;
  padding: 1rem 1rem 2rem 1rem;
}

.sub-article p {
  text-transform: uppercase;
}

.sub-article a {
  display: block;
  font-weight: bold;
  padding-right: 7rem;
  font-size: 0.85rem;
}

.sub-article img {
  position: absolute;
  width: 110px;
  height: 100%;
  top: 0.2rem;
  right: 0;
}

.article-list 