@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --white: #fff;
  --red: #f42;
  --black: #000;
  --yellow: #fd3;
  --green: #0cc;
  --purple: #800080;
  --grey: #ddd;
  --footer-grey: #555;
  --blue: #146ff8;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  padding: 0.8rem;
}

.bg-image-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex-container {
  display: flex;
}

.margin-center {
  margin: 0 auto;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.grid-container {
  display: grid;
}

.nav-icons i {
  border-left: 1px solid var(--grey);
}

.nav-icons i:first-child {
  color: var(--grey);
}

.nav-icons i:last-child {
  color: var(--red);
}

.header-ad {
  font-size: 0.8rem;
  padding: 0.8rem 1.2rem;
  background-color: var(--yellow);
}

.main-section {
  width: 98%;
  grid-template: 1fr;
  grid-gap: 0.8rem;
}

.main-article {
  padding: 10rem 1rem 1rem 1rem;
  color: var(--white);
}

.main-article:first-child {
  background: linear-gradient(
      to bottom,
      rgba(231, 226, 226, 0.5),
      rgba(0, 0, 0, 0.95)
    ),
    url("img/main1.jpg");
}

.main-article:nth-child(2) {
  background-image: url("img/main2.jpg");
}

.main-article:last-child {
  background-image: linear-gradient(
      to bottom,
      rgba(231, 226, 226, 0.5),
      rgba(0, 0, 0, 0.95)
    ),
    url("img/main3.jpg");
}

.main-section-interactions * {
  color: var(--grey);
}

.main-section-interactions p {
  font-size: 0.8rem;
}
