@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --white: #fff;
  --red: #f42;
  --black: #000;
  --yellow: #fd3;
  --green: #0cc;
  --purple: #800080;
  --grey: #ddd;
  --footer-grey: #555;
  --blue: #146ff8;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 1.4em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  padding: 0.8em;
}

.bg-image-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex-container {
  display: flex;
}

.margin-center {
  width: 98%;
  margin: 0 auto;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.grid-container {
  display: grid;
}

.nav-icons i {
  border-left: 1px solid var(--grey);
}

.nav-icons i:first-child {
  color: var(--grey);
}

.nav-icons i:last-child {
  color: var(--red);
}

.header-ad {
  font-size: 0.8rem;
  padding: 0.75rem 1.2rem;
  background-color: var(--yellow);
}

.main-section {
  grid-template: 1fr;
  grid-gap: 0.8rem;
}

.main-article {
  padding: 7.5em 1em 0.4em 1em;
  color: var(--white);
  cursor: pointer;
}

.main-article:first-child {
  padding: 3em 1.2em 0 1.2em;
  background-image:
    linear-gradient(
      to bottom,
      rgba(231, 226, 226, 0.5),
      rgba(0, 0, 0, 0.95)
    ),
    url("https://source.unsplash.com/random/210");
}

.main-article:nth-child(2) {
  background-image: url("https://source.unsplash.com/random/200");
}

.main-article:last-child {
  background-image:
    linear-gradient(
      to bottom,
      rgba(231, 226, 226, 0.5),
      rgba(0, 0, 0, 0.95)
    ),
    url("https://source.unsplash.com/random/210");
}

.main-article > p {
  font-weight: bold;
}

.main-article h3 {
  font-weight: lighter;
  font-size: 0.8em;
}

.main-section-interactions * {
  color: var(--grey);
}

.main-section-interactions p {
  font-size: 0.7em;
}

.latest-news-section {
  margin: 1rem 1rem;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  width: 100%;
}

.latest-news img {
  width: 10rem;
  height: 7rem;
  float: left;
}
